:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #6c5b7b;
  --secondary-color: #fff;
  --border-color: #ccc;
  --input-padding: 0.75rem;
  --border-radius: 0.5rem;
  --transition: 0.3s ease;
}

hr {
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}

.Setinha {
  position: absolute;
  margin-top: 20px;
  margin-right: 40px;
  width: 2%;
  height: 2%;
  float: right;
  text-align: end;
  align-content: end;
}

h2 {
  text-align: left;
  padding-top: 1%;
  padding-left: 10%;
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

main {
  min-width: 320px;
  min-height: 100vh;
}

.nome {
  margin-left: 10%;
  text-align: left;
}

.butao {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  display: block;
  width: 80%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition);
  margin-top: 1rem;
}
button:hover {
  background-color: #2a2330;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  justify-content: center;
  text-align: center;
}
.EspacoTexto {
  margin-left: 5%;
  display: flex;
}

input {
  margin-left: 5%;
  width: 70%;
  height: 20%;
  align-self: center;
}

input[type="text"] {
  display: flex;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10%;
  box-sizing: border-box;
}
input[type="email"] {
  display: flex;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10%;
  box-sizing: border-box;
}
input[type="password"] {
  display: flex;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10%;
  box-sizing: border-box;
}

.AsteristicoVermelho {
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
.cardtitulo {
  color: black;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.profile-options {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.profile-card {
  border: 1px solid #999;
  border-radius: 12px;
  padding: 20px;
  padding-top: 0px;
  width: 220px;
  cursor: pointer;
  transition: 0.3s;
}

.profile-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ccc;
}

.profile-card.selected {
  border: 2px solid #5f5670;
  box-shadow: 0 0 15px #aaa;
}